.new-timer {
	color: #aaaaaa;
	position: relative;
}

.new-timer i {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate3d(0, -50%, 0);
}

.new-timer input {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: #f0f0f0;
	font-size: 20px;
	padding: 20px 0 20px 50px;
	outline: none;
}

.new-timer input[type="submit"] {
	display: none;
}
