#header {
	width: 100%;
	float: left;
	padding: 50px;
	height: 150px;
}

#header #logo {
	width: 50px;
}

#header #user-badge {
	float: right;
	line-height: 60px;
	color: #aaaaaa;
}

#header #user-drop-down {
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: blue;
	display: none;
}